<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #007bff; height: 70px;">
    <a class="navbar-brand" href="#" style="color: white;">
      <img src="https://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Color-B-icon.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
      Color Coder &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Pick a color and get it coded
    </a>
      <!-- <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
      </ul> -->
  </nav>
  <app-color-picker></app-color-picker>
  <div class="footer">
    2020&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Nikhil V S
  </div>
</div>